@import "../../variables.scss";
.products__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  ul {
    display: flex;
    align-items: center;
    gap: 50px;
    li{
      text-wrap: nowrap;
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__categories{
    overflow: auto;
  }
}

.products__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  .product__card {
    border: 1px solid #f1f1f1;
    border-radius: 20px;

    img {
      width: 100%;
      height: 50%;
      object-fit: contain;
    }
  }
}

.product__card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: 50%;

  h3 {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  p {
    span {
      color: $primaryColor;
    }
  }
}

.product__card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    background: $primaryColor;
    color: $whiteColor;
    border: 1px solid $primaryColor;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.4s;
  }
  button:hover {
    color: $primaryColor;
    background: $whiteColor;
  }
}

@media (max-width: 770px) {
  .products__header {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .products__categories {
    overflow: auto;
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .products__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .products__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .products__cards {
    grid-template-columns: 1fr;
  }
}

.see__more__btn {
  width: 150px;
  height: 50px;
  border: 1px solid $primaryColor;
  color: $whiteColor;
  background: $primaryColor;
  border-radius: 10px;
  transition: 0.4s;
  display: block;
  margin: 0 auto;
}
.disabled{
  color: $blackColor !important;
  background: gray;
  border-color: gray;
  cursor: no-drop;
}

.see__more__btn:hover {
  background: $whiteColor;
  color: $primaryColor;
}
