@import "../../variables.scss";
.not__found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 0px;

  img {
    width: 100%;
    height: 600px;
    object-fit: contain;
  }
  button{
    color: $whiteColor;
    background: $primaryColor;
    border: 1px solid $primaryColor;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    transition: 0.4s;
  }
  button:hover{
    background: green;
    border-color: green;
  }
}
